<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leyunone.codex.dao.mapper.BranchesMapper">
    <insert id="batchInsert">
        INSERT INTO x_branches
        ('id','project_id','branches_name')
        VALUES
        <foreach collection="commits" item="item" separator=",">
            (#{item.id},#{item.project_id},#{item.branches_name})
        </foreach>
        ON DUPLICATE key update
        id = values(id),
        project_id = values(project_id),
        branches_name = values(branches_name)
    </insert>
</mapper>
