<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leyunone.codex.dao.mapper.GroupUserMapper">
    <select id="selectCodeByGroup" resultType="com.leyunone.codex.model.vo.GroupUserVO">
        SELECT g.group_name,
               sum(u.code_total) code_total
        FROM `x_group_user` gu
                 left join x_group g on gu.group_id = g.group_id
                 left join x_user u on gu.user_name = u.user_name
        group by gu.group_id

    </select>
    <select id="selectCodeSumByGroup" resultType="com.leyunone.codex.model.vo.GroupUserVO">
        SELECT
            sum( t.total ) code_total,
            t.group_name
        FROM
            (
                SELECT
                    g.group_name,
                    g.group_id,
                    SUM( c.total ) total
                FROM
                    `x_commit` c
                        LEFT JOIN x_group_user gu ON c.committer_name = gu.user_name
                        LEFT JOIN x_group g ON gu.group_id = g.group_id
                WHERE c.commit_date >= #{startDate} AND c.commit_date &lt;=#{endDate}
                GROUP BY
                    g.group_id,
                    c.committer_name
            ) t
        GROUP BY
            t.group_id
    </select>
    <select id="groupTimeCode" resultType="com.leyunone.codex.model.vo.GroupUserVO">
        select
        DATE_FORMAT(t1.date,'%Y-%m-%d') as date, group_name, total
        from
        (
        select
        @cdate := date_add(@cdate, INTERVAL -1 DAY) as date
        from
        (
        select
        @cdate := date_add(#{con.endDate}, INTERVAL +1 DAY)
        from
        x_system
        ) tmp1
        where
        date_add(@cdate, INTERVAL -1 DAY) &gt;= #{con.startDate} and date_add(@cdate, INTERVAL -1 DAY) &lt;=#{con.endDate}
        ) t1
        left join (
        SELECT
        g.group_name,
        sum(c.total) total,
        DATE_FORMAT(c.commit_date, '%Y-%m-%d') AS date
        FROM
        `x_commit` c
        LEFT JOIN x_group_user gu ON c.committer_name = gu.user_name
        left join x_group g on gu.group_id = g.group_id
        WHERE
        1 = 1
        <if test="con.startDate!=null">
            AND c.commit_date >= #{con.startDate}
        </if>
        <if test="con.endDate!=null">
            AND c.commit_date &lt;= #{con.endDate}
        </if>
        group by DATE_FORMAT(c.commit_date,'%Y-%m-%d'),g.group_id
        ) t2
        on t1.date = STR_TO_DATE(t2.date, '%Y-%m-%d')
        order by date asc
    </select>
</mapper>
