<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leyunone.codex.dao.mapper.ProjectMapper">

    <select id="selectByUserName" resultType="com.leyunone.codex.model.vo.ProjectUserVO">
        SELECT p.project_name, p.id
        FROM x_project p
                 LEFT JOIN x_project_user pu ON pu.project_id = p.id
        WHERE pu.user_name = #{userName}
    </select>
</mapper>
