<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <script th:src="@{js/highcharts.js}" type="application/javascript"></script>
    <script th:src="@{js/vue.js}" type="application/javascript"></script>
    <script th:src="@{js/exporting.js}" type="application/javascript"></script>
    <script src="https://code.hcharts.cn/plugins/zh_cn.js" type="application/javascript"></script>
    <!--    <script src="./js/vue.js" type="application/javascript"></script>-->
    <!-- 引入样式 -->
    <link rel="stylesheet" th:href="@{/element/theme/index.css}"/>
    <!--    <link rel="stylesheet" href="./element/theme/index.css"/>-->
    <!-- 引入组件库 -->
    <script th:src="@{/element/index.js}" type="application/javascript"></script>
    <!--    <script src="./element/index.js" type="application/javascript"></script>-->

    <script src="./js/axios.js"></script>

</head>
<body>
<div id="app" style="width: 80%;margin-left: 200px;height: 100%;">
    <el-tabs v-model="first" @tab-click="handleClick">
        <el-tab-pane label="成员Code" name="first">
            <div style="margin-top: 17px;overflow:auto;height: 1500px" v-infinite-scroll="load">
                <el-collapse accordion>
                    <el-collapse-item v-for="(item,index) in users">
                        <template slot="title">
                            <span style="margin-left: 50px">
                                {{item.userName}}<i class="el-icon-user"></i>
                            </span>
                            <span style="float: right;text-align: center; margin-left: 110px; width: 600px;">
                                <span style="color: red">删除总量：{{item.codeDeletions}}</span>
                                <el-divider direction="vertical"></el-divider>
                                <span style="color: blue">新增总量：{{item.codeAdditions}}</span>
                                <el-divider direction="vertical"></el-divider>
                                <span style="color: orange">总量：{{item.codeTotal}}</span>
                            </span>
                        </template>
                        <el-button class="btn-cell" v-for="po in item.projectList"
                                   @click="toCommit(item.userName,po.id)"
                        >
                            {{po.projectName}}
                        </el-button>
                    </el-collapse-item>
                </el-collapse>
            </div>
        </el-tab-pane>
        <el-tab-pane label="提交历史" name="second">
            <div class="block date-select">
                <span class="demonstration">时间：</span>
                <el-date-picker
                        v-model="time.commitTime"
                        type="daterange"
                        align="right"
                        unlink-panels
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期"
                        value-format="yyyy-MM-dd"
                        :picker-options="pickerOptions">
                </el-date-picker>
                <span class="demonstration">项目：</span>
                <el-select clearable v-model="form.commit.projectId" placeholder="请选择">
                    <el-option
                            v-for="item in projectList"
                            :key="item.id"
                            :label="item.projectName"
                            :value="item.id">
                    </el-option>
                </el-select>
                <el-button icon="el-icon-search" @click="commitSearch" circle></el-button>

                <span class="demonstration">当前人员：{{form.commit.userName}}</span>
                <el-button type="danger" @click="cancelname" icon="el-icon-delete" circle></el-button>
            </div>
            <div style="margin-top: 17px;overflow:auto;height: 1500px" v-infinite-scroll="load">
                <el-card class="box-card" v-for="(commit,index) in commits">
                    <span>{{commit.id}} &nbsp; &nbsp; by {{commit.committerName}}</span>
                    <br/>
                    <br/>
                    <span style="color: red">删除:{{commit.deletions}}</span>
                    <el-divider direction="vertical"></el-divider>
                    <span style="color: blue">新增:{{commit.additions}}</span>
                    <el-divider direction="vertical"></el-divider>
                    <span style="color: orange">总量:{{commit.total}}</span>
                    <el-divider>{{commit.commitDate}}</el-divider>
                    {{commit.message}}
                </el-card>
            </div>
        </el-tab-pane>
        <el-tab-pane label="图表[时间]" name="third">
            <div>
                <!--人员提交记录量-->
                <div>
                    <div class="block date-select">
                        <span class="demonstration">时间：</span>
                        <el-date-picker
                                v-model="time.usertimecodeTime"
                                type="daterange"
                                align="right"
                                unlink-panels
                                range-separator="至"
                                start-placeholder="开始日期"
                                end-placeholder="结束日期"
                                value-format="yyyy-MM-dd"
                                :picker-options="pickerOptions">
                        </el-date-picker>
                        <el-button icon="el-icon-search" @click="usertimecodeSearch" circle></el-button>
                    </div>
                    <div id="usertimecode" :style="{ height: chartBoxHeight }" class="usertimecodeChart"></div>
                </div>
                <!--指定项目下的人员提交记录-->
                <div>
                    <div class="block date-select">
                        <span class="demonstration">时间：</span>
                        <el-date-picker
                                v-model="time.projecttimecodeTime"
                                type="daterange"
                                align="right"
                                unlink-panels
                                range-separator="至"
                                start-placeholder="开始日期"
                                end-placeholder="结束日期"
                                value-format="yyyy-MM-dd"
                                :picker-options="pickerOptions">
                        </el-date-picker>
                        <span class="demonstration">项目：</span>
                        <el-select clearable v-model="form.projectId" placeholder="请选择">
                            <el-option
                                    v-for="item in projectList"
                                    :key="item.id"
                                    :label="item.projectName"
                                    :value="item.id">
                            </el-option>
                        </el-select>

                        <el-button icon="el-icon-search" @click="projecttimecodeSearch" circle></el-button>
                    </div>
                    <div id="projecttimecode" :style="{ height: chartBoxHeight }" class="usertimecodeChart"></div>
                </div>
                <!--小组提交记录量-->
                <div>
                    <div class="block date-select">
                        <span class="demonstration">时间：</span>
                        <el-date-picker
                                v-model="time.grouptimecodeTime"
                                type="daterange"
                                align="right"
                                unlink-panels
                                range-separator="至"
                                start-placeholder="开始日期"
                                end-placeholder="结束日期"
                                value-format="yyyy-MM-dd"
                                :picker-options="pickerOptions">
                        </el-date-picker>
                        <el-button icon="el-icon-search" @click="grouptimecodeSearch" circle></el-button>
                    </div>
                    <div id="grouptimecode" :style="{ height: chartBoxHeight }" class="usertimecodeChart"></div>
                </div>
            </div>
        </el-tab-pane>
        <el-tab-pane label="图表[总量]" name="four">
            <!--人员代码总量-->
            <div>
                <div class="block date-select">
                    <span class="demonstration">时间：</span>
                    <el-date-picker
                            v-model="time.usercodeTime"
                            type="daterange"
                            align="right"
                            unlink-panels
                            range-separator="至"
                            start-placeholder="开始日期"
                            end-placeholder="结束日期"
                            value-format="yyyy-MM-dd"
                            :picker-options="pickerOptions">
                    </el-date-picker>
                    <el-button icon="el-icon-search" @click="usercodeSearch" circle></el-button>
                </div>
                <div id="userbasecode" :style="{ height: chartBoxHeight }" class="tablecodeChart"></div>
            </div>
            <!--小组代码总量-->
            <div>
                <div class="block date-select">
                    <span class="demonstration">时间：</span>
                    <el-date-picker
                            v-model="time.groupcodeTime"
                            type="daterange"
                            align="right"
                            unlink-panels
                            range-separator="至"
                            start-placeholder="开始日期"
                            end-placeholder="结束日期"
                            value-format="yyyy-MM-dd"
                            :picker-options="pickerOptions">
                    </el-date-picker>
                    <el-button icon="el-icon-search" @click="groupcodeSearch" circle></el-button>
                </div>
                <div id="groupbasecode" :style="{ height: chartBoxHeight }" class="tablecodeChart"></div>
            </div>
        </el-tab-pane>
        <el-tab-pane label="基本数据管理" name="five">
            <!--人员真实姓名-->
            <div>
                <el-table
                        ref="singleTable"
                        :data="users"
                        height="540"
                        highlight-current-row
                        style="width: 567px">
                    <el-table-column
                            fixed
                            prop="userName"
                            label="姓名"
                            width="150">
                    </el-table-column>
                    <el-table-column
                            prop="userRealName"
                            label="真实姓名"
                            width="200">
                        <template slot-scope="scope">
                            <el-input v-model="scope.row.userRealName" autocomplete="off"></el-input>
                        </template>
                    </el-table-column>
                    <el-table-column
                            label="操作"
                            width="100">
                        <template slot-scope="scope">
                            <el-button @click="editUserName(scope.row)" type="text" size="small">编辑保存</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <el-row>
                    <el-button round v-for="item in groups" @click="editGroup(item.groupUsers,item.groupId)">
                        {{item.groupName}}
                    </el-button>
                </el-row>
            </div>
        </el-tab-pane>
    </el-tabs>

    <el-dialog title="校验身份" :visible.sync="dialogFormVisible">
        <el-form :model="form">
            <el-form-item label="账号" :label-width="formLabelWidth">
                <el-input v-model="form.account" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="密码" :label-width="formLabelWidth">
                <el-input v-model="form.password" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="cancelLogin">取 消</el-button>
            <el-button type="primary" @click="login">登录</el-button>
        </div>
    </el-dialog>

    <el-dialog title="人员分组" :visible.sync="dialogGroup">
        <el-transfer
                style="margin-left: 160px"
                v-model="groupValue"
                :props="{
                      key: 'value',
                      label: 'desc'
                    }"
                :data="groupData">
        </el-transfer>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogGroup = false">取 消</el-button>
            <el-button type="primary" @click="okGroup">保存</el-button>
        </div>
    </el-dialog>
</div>
</body>
</html>
<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                pickerOptions: {
                    shortcuts: [{
                        text: '最近一周',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近一个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近三个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                            picker.$emit('pick', [start, end]);
                        }
                    }]
                },
                chartBoxHeight: '433px',
                first: "third",
                userIndex: 1,
                userSize: 20,
                users: [],
                commitIndex: 1,
                commitSize: 20,
                commits: [],
                xLabelList: [],
                time: {
                    usertimecodeTime: "",
                    grouptimecodeTime: "",
                    projecttimecodeTime: "",
                    commitTime: "",
                    usercodeTime: "",
                    groupcodeTime: ""
                },
                projectList: [],
                form: {
                    account: "",
                    password: "",
                    projectId: "",
                    commit: {
                        projectId: "",
                        userName: ""
                    }
                },
                dialogFormVisible: false,
                groups: [],
                noGroupUsers: [],
                groupData: [],
                groupValue: [],
                groupId: "",
                dialogGroup: false
            }
        },
        mounted: function () {
            //初始用户列表
            this.getUserList();
            //初始提交记录列表
            this.getCommitList();
            //初始人员提交表格
            this.userTimeCodeList(null, null, 0, null);
            //初始项目提交表格
            this.getProjectList();
            //初始化人员代码量表格
            this.userBaseCodeList();
            //初始化小组提交记录列表
            this.groupTimeCodeList(null, null, 0);
            //初始化小组代码量表格
            this.groupBaseCodeList();
        },
        methods: {
            cancelLogin() {
                this.dialogFormVisible = false;
                this.first = 'third';
            },
            login() {
                axios({
                    url: "/codex/user/login",
                    params: {
                        account: this.form.account,
                        password: this.form.password
                    }
                }).then((res) => {
                    var data = res.data;
                    if (data.status) {
                        //登录成功
                        this.dialogFormVisible = false
                        //初始化小组列表
                        this.getGroupList();
                        //初始化未分组人员列表
                        this.getNoGroupUsers();
                    } else {
                        this.first = 'third';
                        this.dialogFormVisible = false
                        this.$message.error(data.message);
                    }
                })
            },
            cancelname() {
                this.form.commit.userName = "";
            },
            toCommit(userName, projectId) {
                this.form.commit.userName = userName;
                this.form.commit.projectId = projectId;
                this.getCommitList(userName, projectId);
                this.first = "second";
            },
            usertimecodeSearch() {
                var date = this.time.usertimecodeTime;
                this.userTimeCodeList(date != null ? date[0] : null, date != null ? date[1] : null, 0, null);
            },
            projecttimecodeSearch() {
                var date = this.time.projecttimecodeTime;
                this.userTimeCodeList(date != null ? date[0] : null, date != null ? date[1] : null, 1, this.form.projectId);
            },
            grouptimecodeSearch() {
                var date = this.time.grouptimecodeTime;
                this.groupTimeCodeList(date != null ? date[0] : null, date != null ? date[1] : null, 0)
            },
            usercodeSearch() {
                var date = this.time.usercodeTime;
                this.userBaseCodeList(date != null ? date[0] : null, date != null ? date[1] : null);
            },
            commitSearch() {
                var date = this.time.commitTime;
                this.getCommitList(this.form.commit.userName, this.form.commit.projectId, date != null ? date[0] : null, date != null ? date[1] : null)
            },
            groupcodeSearch() {
                var date = this.time.groupcodeTime;
                this.groupBaseCodeList(date != null ? date[0] : null, date != null ? date[1] : null);
            },
            load() {
                var type = this.first;
                if (type === 'first') {
                    this.loadUser();
                }
                if (type === 'second') {
                    this.loadCommit();
                }
            },
            loadUser() {
                this.userSize = this.userSize + 10;
                this.getUserList();
            },
            loadCommit() {
                this.commitSize = this.commitSize + 10;
                var date = this.time.commitTime;
                this.getCommitList(this.form.commit.userName, this.form.commit.projectId, date != null ? date[0] : null, date != null ? date[1] : null)
            },
            getProjectList() {
                axios({
                    url: "/codex/project/projects"
                }).then((res) => {
                    var data = res.data;
                    if (data.status) {
                        this.projectList = data.data;
                        this.form.projectId = this.projectList[0].id;
                        this.userTimeCodeList(null, null, 1, this.projectList[0].id);
                    } else {
                        this.$message.error("项目列表查询失败");
                    }
                })
            },
            handleClick() {
                if (this.first === 'five') {
                    this.dialogFormVisible = true;
                }
            },
            getUserList() {
                axios({
                    url: "/codex/user/alluser",
                    params: {
                        index: this.userIndex,
                        size: this.userSize
                    }
                }).then((res) => {
                    var data = res.data;
                    if (data.status) {
                        this.users = data.data;
                    } else {
                        this.$message.error(data.message);
                    }
                })
            },
            getGroupList() {
                axios({
                    url: "/codex/group/groups"
                }).then((res) => {
                    var data = res.data;
                    if (data.status) {
                        this.groups = data.data;
                    } else {
                        this.$message.error("小组查询失败");
                    }
                })
            },
            getCommitList(userName, projectId, startDate, endDate) {
                axios({
                    url: "/codex/commit/commitBy",
                    params: {
                        index: this.commitIndex,
                        size: this.commitSize,
                        committerName: userName,
                        projectId: projectId,
                        startDate: startDate,
                        endDate: endDate
                    }
                }).then((res) => {
                    var data = res.data;
                    if (data.status) {
                        this.commits = data.data;
                    } else {
                        this.$message.error(data.message);
                    }
                })
            },
            userTimeCodeList(startDate, endDate, type, projectId) {
                axios({
                    url: "/codex/statistics/userProjectTimeCode",
                    params: {"startDate": startDate, "endDate": endDate, "projectId": projectId}
                }).then((res) => {
                    var data = res.data;
                    if (data.status) {
                        //0人员时间提交记录  1指定项目下人员时间提交记录
                        if (type === 0) {
                            this.getTimeChart("usertimecode", data.data);
                        }
                        if (type === 1) {
                            this.getTimeChart('projecttimecode', data.data);
                        }
                    } else {
                        this.$message.error("人员时间提交查询失败");
                    }
                })
            },
            groupTimeCodeList(startDate, endDate, type) {
                axios({
                    url: "/codex/statistics/groupTimeCode",
                    params: {"startDate": startDate, "endDate": endDate}
                }).then((res) => {
                    var data = res.data;
                    if (data.status) {
                        //0人员时间提交记录  1指定项目下人员时间提交记录
                        if (type === 0) {
                            this.getTimeChart("grouptimecode", data.data);
                        }
                        if (type === 1) {
                            // this.getTimeChart('projecttimecode', data.data);
                        }
                    } else {
                        this.$message.error("小组时间提交查询失败");
                    }
                })
            },
            userBaseCodeList(startDate, endDate) {
                axios({
                    url: "/codex/statistics/userbasecode",
                    params: {startDate: startDate, endDate: endDate}
                }).then((res) => {
                    var data = res.data;
                    if (data.status) {
                        this.getTableChart('userbasecode', data.data);
                    } else {
                        this.$message.error("人员代码量查询失败");
                    }
                })
            },
            groupBaseCodeList(startDate, endDate) {
                axios({
                    url: "/codex/statistics/groupbasecode",
                    params: {startDate: startDate, endDate, endDate}
                }).then((res) => {
                    var data = res.data;
                    if (data.status) {
                        this.getTableChart('groupbasecode', data.data);
                    } else {
                        this.$message.error("小组代码量查询失败");
                    }
                })
            },
            getTableChart(id, data) {
                var chart = Highcharts.chart(id, {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: data.title
                    },
                    subtitle: {
                        text: '数据截止`' + data.date
                    },
                    xAxis: {
                        type: 'category',
                        labels: {
                            rotation: -45  // 设置轴标签旋转角度
                        }
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: '行'
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    tooltip: {
                        pointFormat: '代码总量: <b>{point.y:.1f} 行</b>'
                    },
                    series: [{
                        name: '总量',
                        data: data.seriesData,
                        dataLabels: {
                            enabled: true,
                            rotation: -90,
                            color: '#ffffff',
                            align: 'right',
                            y: 10
                        }
                    }]
                });
            },
            getTimeChart(id, data) {
                var series = data.series;
                series.map((t) => {
                    //赋予随机颜色
                    var R = Math.floor(Math.random() * 255);
                    var G = Math.floor(Math.random() * 255);
                    var B = Math.floor(Math.random() * 255);
                    t.color = 'rgb(' + R + ',' + G + ',' + B + ')';
                    // t.color = '#' + (Math.random() * 0xffffff << 0).toString(16);
                })
                var chart = Highcharts.chart(id, {
                    // 图表 设置默认直线
                    chart: {
                        type: "spline", // 曲折线spline 柱形图column
                    },
                    // 图标题
                    title: {
                        text: null,
                    },
                    // 副标题
                    subtitle: {
                        text: data.title,
                        style: {
                            fontSize: "18px",
                        },
                        align: "left",
                    },
                    lang: {
                        noData: "暂无数据",
                    },
                    xAxis: {
                        gridLineWidth: 1,
                        tickWidth: 0,
                        tickInterval: 1,
                        categories: data.xchart, // 横坐标
                    },
                    // 导出功能
                    exporting: {
                        enabled: data.ifImport
                    },
                    // 版权
                    credits: {
                        enabled: false,
                    },
                    // 提示框属性
                    tooltip: {},
                    // 纵坐标属性
                    yAxis: {
                        title: {
                            text: null,
                        },
                        min: 0, // 全部数据为0时，y轴底部显示,1
                        minRange: 1, // 步长
                    },
                    // 图例属性
                    legend: {
                        // 样式
                        itemStyle: {
                            fontSize: "14px",
                            color: '#515A6E',
                        },
                        // 悬浮样式
                        itemHoverStyle: {
                            fontSize: "14px",
                            color: '#1d2727',
                        },
                        itemDistance: 60, // 间距
                    },
                    plotOptions: {
                        series: {
                            connectNulls: true, // 连接数据为null的前后点
                            label: {
                                connectorAllowed: false,
                            },
                        },
                    },
                    // 系列（数据）
                    series: data.series,
                });
            },
            editUserName(row) {
                axios({
                    url: "/codex/user/save",
                    params: {userName: row.userName, userRealName: row.userRealName}
                }).then((res) => {
                    var data = res.data;
                    if (data.status) {
                        this.$message.success("保存成功");
                    } else {
                        this.$message.error("保存失败");
                    }
                })

            },
            editGroup(groupUsers, groupId) {
                var data = [];
                if (this.noGroupUsers != null) {
                    this.noGroupUsers.map((t) => {
                        data.push({
                            value: t.userName,
                            desc: t.userName
                        })
                    });
                }
                var value = [];
                if (groupUsers != null) {
                    groupUsers.map((t) => {
                        value.push(t.userName);
                    })
                }

                this.groupData = data;
                this.dialogGroup = true;
                this.groupValue = value;
                this.groupId = groupId;
            },
            okGroup() {
                axios({
                    url: "/codex/group/saveGroupUser",
                    method: "POST",
                    data: {
                        groupId: this.groupId,
                        userNames: this.groupValue
                    }
                }).then((res) => {
                    var data = res.data;
                    if (data.status) {
                        this.dialogGroup = false;
                        this.$message.success("修改成功");
                        this.getNoGroupUsers();
                        this.getGroupList();
                    } else {
                        this.$message.error("修改分组失败");
                    }
                })
            },
            getNoGroupUsers() {
                axios({
                    url: "/codex/group/noGroupUsers"
                }).then((res) => {
                    var data = res.data;
                    if (data.status) {
                        this.noGroupUsers = data.data;
                    } else {
                        this.$message.error("未分组人员查询失败");
                    }
                })
            }
        }
    })
</script>
<style>
    .btn-cell {
        text-align: center;
        width: 90%;
        padding: 15px;
        margin: 3px;
    }

    .box-card {
        margin-bottom: 9px;
    }

    .box-card:hover {
        background: rgba(184, 219, 219, 0.5);
    }

    .date-select {
        /*margin-left: 100px;*/
    }
</style>
